*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}